@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");
@import "../libs/slider-splidejs/css/splide-core.min.css";
* {
  box-sizing: border-box;
}

body {
  color: #222;
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  background-color: #FFFAF1;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: inline-block;
  max-width: 100%;
  vertical-align: middle;
}

.title_h1 {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 35px;
  line-height: 47px;
}

.title_h2 {
  margin-top: 0;
  margin-bottom: 90px;
  font-weight: 500;
  font-size: 30px;
  line-height: 29px;
}

.title__h3 {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 22px;
  line-height: 29px;
}

.wrapper {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
}

.container {
  box-sizing: content-box;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  padding: 0;
  cursor: pointer;
  border: 0;
  border-color: #E7C039;
  border-radius: 10px;
}

.header {
  min-height: 70px;
  padding-top: 20px;
}

.header-container {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.logo {
  display: inline-block;
  padding-left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  background: url("../img/main/icons/logo.svg") left center no-repeat;
}

.menu-item {
  display: inline-block;
}

.menu-item:not(:last-child) {
  margin-right: 64px;
}

.menu-link {
  position: relative;
  display: inline-block;
  color: inherit;
  font-size: 16px;
  transition: color 150ms linear;
}

.menu-link::after {
  content: "";
  position: absolute;
  z-index: 2;
  bottom: -2px;
  left: 0;
  display: block;
  width: 0;
  height: 2px;
  transition: width 150ms linear, left 150ms linear, transform 150ms linear, background-color 200ms linear, bottom 300ms linear, bottom 300ms linear;
  background: #E3A732;
}

.menu-link_effect_1:hover {
  color: #E3A732;
}

.menu-link_effect_4::after {
  width: 0;
  transition: inset 150ms linear, width 150ms linear, transform 0ms linear 150ms;
}

.menu-link_effect_4:hover::after {
  width: 100%;
}

.menu-link_effect_2 {
  transition: color 200ms linear 100ms;
}

.menu-link_effect_2:hover {
  color: #E3A732;
}

.menu-link_effect_2::after {
  bottom: -10px;
  width: 100%;
  background-color: transparent;
}

.menu-link_effect_2:hover::after {
  bottom: -2px;
  background-color: #E3A732;
}

.menu-link_effect_3::after {
  left: 50%;
  width: 0;
  transform: translateX(-50%);
  background-color: #E3A732;
}

.menu-link_effect_3:hover::after {
  width: 100%;
}

.menu-link_effect_5 {
  transition: border-color 150ms linear;
  border-bottom: 2px solid transparent;
}

.menu-link_effect_5:hover {
  margin-bottom: -2px;
  border-color: #E3A732;
  outline: 0;
}

.page__intro {
  margin-top: 100px;
  margin-bottom: 100px;
}

.page__about {
  margin-bottom: 150px;
}

.page__cources {
  margin-bottom: 100px;
}

.page__features {
  margin-bottom: 90px;
}

.intro {
  min-height: 460px;
}

.intro__container {
  position: relative;
  height: 500px;
  margin-bottom: 100px;
  background: url(../img/main/decor/intro__image.png) top right no-repeat, url(../img/main/decor/intro__vector.svg) top 40px left -40px no-repeat;
}

.intro__content {
  overflow: visible;
  width: 372px;
}

.intro__text {
  font-size: 15px;
  line-height: 29px;
}

.intro__text:not(:last-child) {
  margin-bottom: 30px;
}

.intro__button {
  display: inline-block;
  padding: 13px 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  background-color: #E7C039;
}

.about__content {
  display: flex;
  align-items: center;
}

.about__content-image {
  position: relative;
  flex: 1 1 30%;
}

.about__content-image::after {
  content: "";
  position: absolute;
  top: 26%;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/main/decor/about__img_decor.png") bottom left no-repeat;
}

.about__description {
  flex: 1 1 60%;
  padding-left: 90px;
}

.about__paragraph {
  /*Подобрана оптимальная ширина, чтобы параграф сохранял форму, не раскидываясь до края контейнера*/
  width: 83%;
  font-size: 20px;
  line-height: 36px;
}

.about__paragraph:not(:last-child) {
  margin-bottom: 20px;
}

.cources__container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.cources__menu {
  margin-bottom: 70px;
}

.menu_cources__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu_cources__btn {
  position: relative;
  font-size: 20px;
  line-height: 36px;
  transition: border-color;
  border: 0;
  border-radius: 0;
  background-color: transparent;
}

.menu_cources__btn::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.menu_cources__btn:hover::after {
  border-bottom: 2px solid #E3A732;
}

.slider__container_cources {
  position: relative;
}

.slider__track_cources {
  max-width: 1200px;
  margin: 0 auto;
}

.slider__item_cources {
  min-height: 430px;
  border-radius: 10px;
}

.slide_cources {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0 10px 10px;
}

.slide__text_cources {
  font-weight: 300;
  font-size: 17px;
  line-height: 43px;
}

.slide__link_cources {
  padding: 10px 20px;
  color: #E3A732;
  font-weight: 500;
  font-size: 17px;
  border: 1px solid #E3A732;
  border-radius: 10px;
}

.slide__preview_cources {
  margin-bottom: 30px;
}

.splide__arrow {
  position: absolute;
  top: 50%;
  width: 14px;
  height: 44px;
  transform: translateY(-50%);
}

.splide__arrow--prev {
  left: 0;
  background: url("../img/main/icons/slider__arrow_prev.svg") center center no-repeat;
}

.splide__arrow--next {
  right: 0;
  background: url("../img/main/icons/slider__arrow_next.svg") center center no-repeat;
}

.features__cards {
  display: flex;
  flex-wrap: wrap;
  padding: 0 50px;
}

.features__card {
  flex: 0 1 calc(50% - 45px);
}

.features-card {
  margin-bottom: 40px;
  padding: 45px 30px;
  border: 2px solid #FFD78B;
  border-radius: 10px;
}

.features-card:not(:nth-child(2n)) {
  margin-right: 45px;
}

.features-card__title {
  font-weight: 500;
  font-size: 19px;
  line-height: 23px;
}

.features-card__text {
  font-size: 15px;
  opacity: 0.8;
}

.slider__container_reviews {
  position: relative;
}

.slider__track_reviews {
  max-width: 1200px;
  margin: 0 auto;
}

.review {
  display: grid;
  grid-template: [start] "avatar name" min-content [row2] [row2] "avatar desc" min-content [row3] [row3] "text text" 1fr [row-end]/65px 1fr;
  border: 2px solid #E3A732;
  border-radius: 10px;
  padding: 30px 20px;
}

.review__image {
  grid-area: avatar;
  width: 45px;
  height: 45px;
  background-color: #FFD78B;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
}

.review__img {
  font-size: 8px;
  line-height: 100%;
}

.review__name {
  grid-area: name;
  font-weight: 500;
  font-size: 11px;
}

.review__desc {
  grid-area: desc;
  font-weight: 300;
  font-size: 8px;
}

.review__text {
  grid-area: text;
  font-size: 13px;
  line-height: 21px;
}